* {
    margin: 0;
}

#header {
    width: 100vw;
    height: 10vh;
    background-color: #ffd4f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-img {
    width: 50px;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    border-bottom-width: 4px;
    padding-bottom: 3px;
    margin: 4px;
    list-style: none;
    text-align: center;
}

#video {
    height: 100vh;
    width: 100vw;
}
#gallery,#aboutus{
    width: 100vw;
    height: 100vh;
}

#gallery{
    background-color: turquoise;
 }

#aboutus{
    background-color: yellowgreen;
 }
