* {
    margin: 0;
}

#header {
    width: 100vw;
    height: 10vh;
    background-color: #ffd4f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-img {
    width: 50px;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    border-bottom-width: 4px;
    padding-bottom: 3px;
    margin: 4px;
    list-style: none;
    text-align: center;
}

<<<<<<< HEAD
#video {
    max-height: 500px;
    height: auto;
    max-width: 600px;
    width: auto;
}
=======
#home,#gallery,#aboutus{
    width: 100vw;
    height: 100vh;
}

#home{
   background-color: tomato;
}

#gallery{
    background-color: turquoise;
 }


#aboutus{
    background-color: yellowgreen;
 }
>>>>>>> c938835803b5cdaf86dd758fea08b4decc9dfe1f
